
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: teal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: rgb(237, 233, 233) ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}
.exercise{
    background: lightgray;
    width: 56%;
    margin: 100px 320px;
    margin-bottom: 300px;
}
.ex01{
    padding-left: 100px;
}
.ex01 p{
    padding: 4px;
}
.exercise h2{
    padding: 24px;
    text-align: center;
}
.ex{
    display: flex;

}
.go{
    padding-right: 24px;
    margin: 8px 24px;
}
button{
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    background: teal;
    margin: 32px;
    /* margin-bottom: 200px; */
    margin-left: 320px;
}
button a{
    text-decoration: none;
    color: white;
}
.next-exercise a{
    padding:4px 8px;
    border: none;
    border-radius: 16px;
    text-decoration: none;
    color:white;
    text-align: center;
    background: teal;

}
.next-exercise{
    padding-left: 112px;
    padding-bottom: 200px;
}
.back {
    padding: 24px;
}
.link-own-website a{
    text-decoration: none;
}
.link-own-website i{
    font-size: 30px;
    margin-right: 12px;
  
}




footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 8px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
