
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: teal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: #FECEAB  ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}


.container{
    /* background: greenyellow; */
    width: 50%;
    margin-top: 24px;
    display: flex;
    justify-self: center;
}
.content h2{
    text-align: center;
    padding: 56px;
}
.usage{
    background:lightgrey;
    padding: 12px ;
    margin-bottom: 12px;
}
.positive, .negative, .question{
    padding-bottom: 12px;
}
.guide{
    margin-top: 32px;
}
.do,.does{
    display: flex;
    /* gap: 80px; */
}

.s{
    margin-top: 56px;
}
.rules{
    margin-top: 56px;
}
.rules li{
    padding: 6px;
}
.adverb-frequency{
    padding-top: 24px;
}
.adverb-frequency span{
    color: teal;
}
.ex-adverb b{
    color: teal;
}
.practices form .one{
    display: flex;
    padding: 8px;
    /* background: red; */
   
}
.practices{
    margin-top: 24px;
}
.practices h3{
    font-size: 20px;
    padding-top: 56px;
    padding-bottom: 24px;
}
.guide{
    margin-left: 100px;
}
hr{
    width: 64%;
}
select option{
    width: 4%;
}
#mypractices{
    width: 132px;
    height: 28px;
}
form select{
    font-size: 17px;
}
.does p{
    padding: 8px;
    width: 30%;
    /* background: #000; */
}
.button-check-answer{
    margin-top: 24px;
    margin-bottom: 100px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background: teal;
    color: white;
    display: flex;
    justify-self: center;
}





footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 12px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
