
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: teal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: rgb(237, 233, 233) ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}


.container{
    /* background: greenyellow; */
    width: 50%;
    margin-top: 24px;
    display: flex;
    justify-self: center;
}


.containers{
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* background: rgb(113, 203, 203); */
    background: rgba(214, 212, 212, 0.612);
    width: 60%;
    justify-self: center;
    margin-bottom: 100px;
}
.containers h1{
    text-align: center;
    padding-top: 64px;
}
.content h3{
    padding: 32px;
   
}

.action{
    width: 50%;
    display: flex;
    gap: 24px;
    padding-left: 100px;
    padding-top: 12px;
}
select{
    width: 32%;
    height: 4vh;
}
.containers button{
    padding: 10px 12px;
    background: teal;
    width: 16%;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 0px;
    border: none;
    border-radius: 12px;

}

.containers button a{
    color: white;
    text-decoration: none;
}
.next-exercise{
    margin-left: 100px;
}
.next-exercise a{
    padding:4px 8px;
    border: none;
    border-radius: 16px;
    text-decoration: none;
    color:white;
    text-align: center;
    background: teal;

}




footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 12px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
