
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background: teal;
    /* background: rgb(255, 255, 255); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: rgb(237, 233, 233) ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}
.container h2{
    text-align: center;
    padding: 56px;
    color: teal;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 56px 300px;
}
.container .w-definition{
    display: flex;
    justify-content: space-between;
    padding: 12px 400px;
}
.definition img{
    width: 400px;
    padding-right: 40px;
}
h2{
    text-align: center;
    padding-top: 80px ;
}
.article .paragraph{
    /* background: teal; */
    width: 40%;
    font-size: 17px;
    padding: 24px;

}
.article{
    display: flex;
    align-items: center;
    gap:154px ;
    margin-top: 32px;
    margin-left: 56px;
    margin-bottom: 180px;

}
.article img{
    width: 500px;
    height:500px;

}
.back{
    padding: 56px;
}



footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 12px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
