
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: teal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: rgb(237, 233, 233) ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}
main h3{
    text-align: center;
    margin-top: 72px;
    margin-bottom: 10px;
    font-size: 24px;
}
.back a{
    margin: 208px;
}
table{
    margin-left: 208px;
    border: none;
    width: 72%;
    margin-bottom: 56px;
}
th{
    background: teal;
    color: white;
    padding: 18px;
   
}
td{
    padding: 8px 56px;
}
tr th td{
     border-collapse: collapse;
}
tr:nth-of-type(even){
    background: rgb(227, 225, 225);
}
tr:hover {
    background-color:rgba(81, 229, 229, 0.397);
    cursor: pointer;
    transition: 0.3s;

}

.link-own-website a{
    text-decoration: none;
}
.link-own-website i{
    font-size: 30px;
    margin-right: 12px;
  
}
footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 8px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
