
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background: teal;
    /* background: rgb(255, 255, 255); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* position: fixed;     */
}
.picture {
    margin-left: 72px;
}
.picture img{
    width: 56px;
}
.menu{
    display: flex;
    gap: 44px;
    margin-right: 72px;
    align-items: center;    
}
nav a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    color: white;
}
nav a:after{
    content: '';
    position: absolute;
    background: linear-gradient(blue,aqua);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
header{
    background: rgb(237, 233, 233) ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 88px;  
}
.container h2{
    text-align: center;
    padding: 56px;
    color: teal;
}

.content{
    display: flex;
    gap: 310px;
    padding: 32px 200px;
}
.container .w-definition{
    display: flex;
    justify-content: space-between;
    padding: 12px 300px;
}
.definition img{
    width: 400px;
}
.word h3, .definition h3{
    margin: 32px 80px ;
}


.link-own-website a{
    text-decoration: none;
}
.link-own-website i{
    font-size: 30px;
    margin-right: 12px;
  
}
footer{
    padding: 56px;
    background: wheat;

}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
}
.logo img{
    width: 56px;
    padding-top: 36px;
}
.link-own-website,.link-website{
    display: flex;
    flex-direction: column; 
}
.link-website a, .link-own-website a{
    padding: 8px;
}
.footer-describe p{
    font-size: 14px;
    color: rgb(72, 69, 69);
}
.footer-describe{
    padding: 56px 248px;
}
@media(max-width:1024px){
    .menu {
        gap: 22px;

    }
    .content{
        padding-left: 72px;
        gap: 120px;
        margin-left: 56px;
    }
    .container .w-definition{
        padding-right: 400px;
        padding-left: 140px;
      }
      .container h2{
        padding-right: 240px;
      }

}
@media(max-width:768px){
    .picture img{
        width: 42px;
    }
    .menu{
        gap: 16px;
    }
    .menu a{
        font-size: 18px;
    }
    header h1{
        font-size: 24px;
    }
    .content{
        gap: 24px;
        padding-right: 100px;
        margin-left: -30px;
    }
    .word p{
        margin-right: 56px;
        width:200px;
    }
    .container .w-definition{
        padding-right: 300px;
        padding-left: 80px;
      }
      .container h2{
        padding-right: 240px;
      }
      .footer-describe{
        padding-right: -100px;
      }
          .footer-describe{
        width: 80%;
        margin-left: 100px;
        padding: 24px 0px;
        
    }
}

@media(max-width:426px){
    .navbar{
        width: 174%;
        gap: 100px;
    }
    .menu{
        margin-left: 40px;
    }
    header{
        width: 174%;
    }
    .container{
        width: 174%;
    }
    .container h2{
        margin-left: 200px;
    }
    footer{
        width: 148%;
    }
}
@media(max-width:376px){
    .navbar ,header{
        width: 192.5%;
    }
    footer{
        width:163%;
    }
    .w-definition h3:nth-child(2){
        margin-left: 200px !important ;
    }
}
@media(max-width:320px){
    .navbar{
        width: 226%;
    }
    .content{
        display: block;
        gap: 24px;
    }
    .container .w-definition h3:nth-child(2){
        display: none;
    }
    .container .w-definition h3{
        font-size: 22px;
        margin-left: 100px;
    }
    .definition p{
        display: none;
    }
    .definition img{
        margin-left: 250px;
    }
    .word{
        margin-left: 32px;
        padding-left: 0px;
    }
    .word p{
        font-size: 22px;
        width: 100%;
    }
    header{
        width: 226%;
    }
    footer{
        width: 191%;
    }
}
